
body {background-image:url('done4.jpg');
background-repeat:repeat;
background-position:center;
background-position:top;
background-size:1350px 600px;}


.xlink {cursor:crosshair}
.hlink {cursor:help}

#align1
{
text-align:right;
} 
#align2
{
text-align:center;
}


#font1
{
color:white; font-size:25px; font-family:Comic Sans MS;
}

#font2
{
 font-size:18px; font-family:Comic Sans MS;
}

#table1
{height:7px border:0   }

#table2
{height:10px  border:0  }




a {text-decoration:none;color:green}





a:hover {color:#0B0B3B; }  

m:hover{color:#0B0B3B;}
}

